@import url(./fonts/fonts.css);
@import url(./blocks/body/body.css);
@import url(./blocks/main/main.css);
@import url(./blocks/orangepic/orangepic.css);
@import url(./blocks/button/button.css);

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__item/header__item.css);
/* housing */
@import url(./blocks/housing/housing.css);
@import url(./blocks/housing/__logo/housing__logo.css);
@import url(./blocks/housing/__title/housing__title.css);
@import url(./blocks/housing/__sub/housing__sub.css);
@import url(./blocks/housing/__svg/housing__svg.css);
/* guest */
@import url(./blocks/guest/guest.css);
@import url(./blocks/guest/__container-text/guest__container-text.css);
@import url(./blocks/guest/__text/guest__text.css);
@import url(./blocks/guest/__button/guest__button.css);
/* getaway */
@import url(./blocks/getaway/getaway.css);
@import url(./blocks/getaway/__text/getaway__text.css);
@import url(./blocks/getaway/__pic/getaway__pic.css);
/* arrangements */
@import url(./blocks/arrangements/arrangements.css);
@import url(./blocks/arrangements/__title/arrangements__title.css);
@import url(./blocks/arrangements/__text/arrangements__text.css);
/* card */
@import url(./blocks/card/card.css);
@import url(./blocks/card/__item/card__item.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/__icon/_bath/card__icon_bath.css);
@import url(./blocks/card/__icon/_bed/card__icon_bed.css);
@import url(./blocks/card/__icon/_room/card__icon_room.css);
/* perfect */
@import url(./blocks/perfect/perfect.css);
@import url(./blocks/perfect/__title/perfect__title.css);
@import url(./blocks/perfect/__text/perfect__text.css);
/* cards */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__icon/cards__icon.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__text/cards__text.css);
/* past */
@import url(./blocks/past/past.css);
@import url(./blocks/past/__title/past__title.css);
@import url(./blocks/past/__text/past__text.css);
@import url(./blocks/past/__round/past__round.css);
@import url(./blocks/past/__btn-box/past__btn-box.css);
@import url(./blocks/past/__pic/past__pic.css);
/* review */
@import url(./blocks/review/review.css);
@import url(./blocks/review/__stars/review__stars.css);
@import url(./blocks/review/__title/review__title.css);
@import url(./blocks/review/__text/review__text.css);
@import url(./blocks/review/__name/review__name.css);
@import url(./blocks/review/__pic/review__pic.css);
@import url(./blocks/review/__sign/review__sign.css);
/* gallery-review */
@import url(./blocks/gallery-review/gallery-review.css);
/* together */
@import url(./blocks/together/together.css);
@import url(./blocks/together/__text/together__text.css);
@import url(./blocks/together/__title/together__title.css);
@import url(./blocks/together/__box/together__box.css);
@import url(./blocks/together/__card/together__card.css);
@import url(./blocks/together/__item/together__item.css);
@import url(./blocks/together/__card-text/together__card-text.css);
@import url(./blocks/together/__icon/together__icon.css);
/* contact */
@import url(./blocks/contact/__title/contact__title.css);
@import url(./blocks/contact/__text/contact__text.css);
@import url(./blocks/contact/contact.css);

@import url(./blocks/buttons/buttons.css);
@import url(./blocks/buttons/__con/buttons__con.css);
@import url(./blocks/buttons/__sub/buttons__sub.css);
/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__social/footer__social.css);
@import url(./blocks/social-box/__el/social-box__el.css);
@import url(./blocks/social-box/social-box.css);
@import url(./blocks/news/__form/news__form.css);
@import url(./blocks/footer/__box/footer__box.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/footer/__copy/footer__copy.css);
/* links */
@import url(./blocks/links/links.css);
@import url(./blocks/links/__link/links__link.css);
/* news */
@import url(./blocks/news/__title/news__title.css);
@import url(./blocks/news/__text/news__text.css);
@import url(./blocks/news/__input/news__input.css);
@import url(./blocks/news/__button/news__button.css);
@import url(./blocks/news/news.css);

@import url(./blocks/post/post.css);
@import url(./blocks/post/__link/post__link.css);

@import url(./blocks/icon/icon.css);
:root {
  --accent: #e08631;
  --brown: #52503b;
  --back: #faf8f0;
}
@media screen and (max-width: 767.98px) {
  .burger {
    align-self: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 20px;
    margin: 0 auto;
  }

  .burger__span,
  .burger::before,
  .burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: aliceblue;
  }
  .burger::before,
  .burger::after {
    content: "";
  }
  .burger::before {
    height: 5%;
    top: 0;
  }
  .burger::after {
    bottom: 0;
    height: 5%;
  }
  .burger__span {
    top: 48%;
    width: 90%;
    transform: scale(1) translate(0, -50%);
    height: 3%;
  }
}
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 20px;
  overflow-x: scroll;
  max-width: 1304px;
  overflow: hidden;
  padding-left: 136px;
}
@media screen and (min-width: 768px) and (max-width: 1399.98px) {
  .swiper-wrapper {
    max-width: 100%;
    padding-left: 50px;
  }
}
@media screen and (min-width: 550px) and (max-width: 767.98px) {
  .swiper-wrapper {
    max-width: 100%;
    padding-left: 30px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 549.98px) {
  .swiper-wrapper {
    max-width: 100%;
    padding-left: 10px;
    margin-top: 15px;
  }
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
.popup__container {
  position: relative;
  border: 1px solid white;
  width: 430px;
  height: 300px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--brown);
  padding: 50px 70px 40px;
}

.popup__title {
  text-align: center;
  color: #ffffff;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.popup__input {
  width: 100%;
  height: 30px;
  padding: 0;
  margin-top: 10px;
  text-indent: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}
.popup__save {
  border: 2px solid white;
  margin: 30px;
  cursor: pointer;
  background-color: var(--brown);
  width: 200px;
  height: 52px;
  border-radius: 6px;
  color: #ffffff;
}
.popup__close {
  position: absolute;
  top: -45px;
  right: -20px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  /* transform: rotate(45deg); */
}
.popup__close::after,
.popup__close::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  background-color: white;
}
.popup__close::before {
  transform: rotate(-45deg);
}
.popup__close::after {
  transform: rotate(45deg);
}
.popup__input_name {
}
.popup__input-error {
}
.popup__input_num {
}
