.header__menu {
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  padding: 0;
  gap: 24px;
  margin: 20px auto;
}

@media screen and (min-width: 1025px) and (max-width: 1439.98px) {

}

@media screen and (min-width: 768px) and (max-width: 1024.98px) {

  
}

@media screen and (max-width: 767.98px) {
  .header__menu{
    display: none;
  }
  
}
