@media screen and (min-width: 1025px) and (max-width: 1439.98px) {
    .card__icon_bath{
        width: 60px;
        height: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024.98px) {
    .card__icon_bath{
        width: 50px;
        height: auto;
    }
}
@media screen and (min-width: 425px) and (max-width: 767.98px) {
    .card__icon_bath{
        width: 40px;
        height: auto;
    }
}
@media screen and (max-width: 424.98px) {
    .card__icon_bath{
        width: 30px;
        height: auto;
    }
}