@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
  url("/fonts/Montserrat-Bold.woff") format("woff"),
  url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.font-big {
  color: #52503b;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}
.font-middle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.font-little {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 524.98px) {
  .font-big{
    font-size: 20px;
    line-height: 24px;
  }
  .font-little{
    font-size: 12px;
    line-height: 16px;
  }
  .font-middle{
    font-size: 14px;
    line-height: 18px;

  }
}