.getaway__text {
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  color: #52503b;
  margin: 32px 77px 0;
}
 @media screen and (min-width: 1025px) and (max-width: 1439.98px) {
  .getaway__text{  
    font-size: 84px;
    line-height: 84px;
    margin: 38px 60px 0;
  }
} 
@media screen and (min-width: 768px) and (max-width: 1024.98px) {
  .getaway__text{
    font-size: 72px;
    line-height: 72px;
    margin: 25px 40px 0;
  }
}
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .getaway__text{
    font-size: 48px;
    line-height: 48px;
    margin: 20px 30px 0;
  }
}
@media screen and (max-width: 424.98px) {
  .getaway__text{
    font-size: 36px;
    line-height: 36px;
    margin: 15px 15px 0;
  }
}