.header__button {
  background-color: #ffffff;
  color: var(--brown);
  width: 117px;
  height: 42px;
  margin-top: 9px;
  margin-right: 120px;
}
@media screen and (min-width: 1025px) and (max-width: 1439.98px) {
  .header__button {
    width: 105px;
    height: 37px;
    align-self: center;
    margin: 0 80px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024.98px) {
  .header__button {
    width: 85px;
    height: 30px;
    align-self: center;
    margin: 0 100px 0 0;
  }
}

@media screen and (max-width: 767.98px) {
  .header__button {
    width: 70px;
    height: 25px;
    align-self: center;
    margin: 0 20px 0 0;
  }
}
