.card__title {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
}
.card__title:hover {
  border-bottom: 1px solid var(--accent);
}
