.news {
  grid-area: email;
}
 /* @media screen and (min-width: 1025px) and (max-width: 1439.98px) {
  .news {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024.98px) {
  .news {
    max-width: 400px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767.98px) {
  .news {
    max-width: 300px;
  }
} */